@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: #1f1e1e;
    scroll-behavior: smooth;
}
#tooltip {
    background-color: #333;
    color: #fff;
    border-radius: .8rem;
    padding: .5rem;
    font-size:.9rem;
    border: 1px solid rgb(192, 132, 252);
}



@layer utilities {
    .icons {
      color: #d4d4d4;
      font-size: 1.1rem;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: row;
    }
    .modal{
      background-color: #333333b9;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    @keyframes fromLeftToRight {
      0% {
        background-position: 0%;
        }
      100% {
        background-position: 100%;
        
      }
    }
   
    .from-left-to-right {
      background-image: linear-gradient(
        to right,
        #fff 0%,
        #bf1dfa 50%,
        #fff 100%
      );

      background-size: 500% auto;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: fromLeftToRight 4s alternate infinite;
    }

    /* section-contacts */
    .custom-label{
      @apply text-neutral-100 text-[1rem] md:text-[1.2rem]
    }


    .custom-input-name{
      @apply text-purple-400 placeholder:text-purple-400 placeholder:opacity-60 
      pt-1 text-[.9rem] md:text-[1.1rem] outline-none
    }
      
    .custom-input-phone{
      @apply text-purple-400 placeholder:text-purple-400 placeholder:opacity-60 
      pt-1 text-[.9rem] md:text-[1.1rem] outline-none
    }

    .custom-input-email{
      @apply text-purple-400 placeholder:text-purple-400 placeholder:opacity-60 
      pt-1 text-[.9rem] md:text-[1.1rem] outline-none
    }

    .custom-input-textarea{
      @apply text-purple-400 placeholder:text-purple-400 placeholder:opacity-60 
      pt-1 text-[.9rem] md:text-[1.1rem] outline-none resize-none
    }
    .custom-btn-contact{
      @apply bg-purple-400 rounded-full text-center text-[1.2rem] md:text-2xl font-bold ml-3
      cursor-pointer h-12 md:h-16 w-[12rem] md:w-[15rem] mt-[2rem] shadow-md hover:border-2 hover:border-purple-400 
      hover:bg-transparent hover:text-purple-500 transition-all delay-75
    }
    
  }  



